<div>
  <h2 class="text-xl font-bold text-gray-900">How it appears</h2>

  <p class="mt-2 text-sm leading-loose text-gray-500">
    This is just an example of a Shopify product page. Your Shopify store will
    have its own style.
  </p>

  <div
    class="mt-4 overflow-hidden bg-white border-4 border-gray-100 lg:flex rounded-2xl lg:items-stretch"
  >
    <div class="relative w-full h-48 lg:w-56 lg:h-auto">
      <img
        src="https://images.unsplash.com/photo-1514989940723-e8e51635b782?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
        class="absolute inset-0 object-cover w-full h-full"
      />
    </div>

    <form class="flex-1 p-6">
      <div class="flex flex-wrap">
        <h2 class="flex-auto text-xl font-semibold">Vibrant Bulky Trainer</h2>
        <div class="text-xl font-semibold text-gray-500">$110.00</div>
        <div class="flex-none w-full mt-2 text-sm font-medium text-gray-500">
          In stock
        </div>
      </div>

      <div class="mt-2 lg:flex lg:items-center">
        <fieldset class="flex space-x-2">
          <label
            *ngFor="let exampleSize of exampleSizes"
            [for]="exampleSize"
            class="inline-flex items-center justify-center w-10 h-10 text-sm font-semibold rounded-md cursor-pointer bg-gray-50 hover:bg-gray-100"
          >
            <input
              class="sr-only"
              name="size"
              type="radio"
              [value]="exampleSize"
              [id]="exampleSize"
            />
            {{ exampleSize }}
          </label>
        </fieldset>

        <div class="mt-4 text-sm text-gray-500 underline lg:ml-auto lg:mt-0">
          Size Guide
        </div>
      </div>

      <div class="mt-6">
        <div>
          <div *ngIf="['text', 'select', 'textarea'].includes(elementType)">
            <label
              for="customise"
              class="block text-sm font-medium text-gray-700"
            >
              Your Custom Input
            </label>
          </div>

          <div *ngIf="elementType === 'text'">
            <input
              type="text"
              id="customise"
              class="block w-full mt-2 border-gray-300 rounded-md focus:ring-blue-500 sm:text-sm"
              placeholder="Enter your name"
            />
          </div>

          <div *ngIf="elementType === 'select'">
            <select
              id="customise"
              class="block w-full mt-2 border-gray-300 rounded-md focus:ring-blue-500 sm:text-sm"
            >
              <option *ngFor="let selectOption of selectOptions">
                {{ selectOption }}
              </option>
            </select>
          </div>

          <div *ngIf="elementType === 'textarea'">
            <textarea
              id="customise"
              [rows]="rowSize"
              class="block w-full mt-2 border-gray-300 rounded-md focus:ring-blue-500 sm:text-sm"
            ></textarea>
          </div>

          <div *ngIf="['checkbox', 'radio'].includes(elementType)">
            <div class="flex space-x-6">
              <div class="flex items-center">
                <input
                  id="example_one"
                  [type]="elementType"
                  class="w-5 h-5 text-blue-600 border-gray-300 focus:ring-blue-500"
                  [ngClass]="{ rounded: elementType === 'checkbox' }"
                />
                <label
                  for="example_one"
                  class="block ml-2 text-sm font-medium text-gray-700"
                >
                  Example One
                </label>
              </div>

              <div class="flex items-center">
                <input
                  id="example_two"
                  [type]="elementType"
                  class="w-5 h-5 text-blue-600 border-gray-300 focus:ring-blue-500"
                  [ngClass]="{ rounded: elementType === 'checkbox' }"
                />
                <label
                  for="example_two"
                  class="block ml-2 text-sm font-medium text-gray-700"
                >
                  Example Two
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex mt-6 space-x-3 text-sm font-medium">
        <div class="flex flex-auto space-x-3">
          <button
            class="flex items-center justify-center w-1/2 text-white bg-black rounded-md"
            type="submit"
          >
            Buy now
          </button>
          <button
            class="flex items-center justify-center w-1/2 border border-gray-300 rounded-md"
            type="button"
          >
            Add to bag
          </button>
        </div>

        <button
          class="flex items-center justify-center flex-none text-gray-400 border border-gray-300 rounded-md w-9 h-9"
          type="button"
          aria-label="like"
        >
          <svg width="20" height="20" fill="currentColor">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
            />
          </svg>
        </button>
      </div>

      <p class="mt-4 text-sm text-gray-500">
        Free shipping on all continental US orders.
      </p>
    </form>
  </div>
</div>
