<footer>
  <div
    class="container py-16 md:flex md:items-center md:justify-between md:px-8"
  >
    <div class="flex justify-center space-x-6 md:order-last">
      <a
        *ngFor="let socialLink of socialLinks"
        [href]="socialLink.link"
        class="text-gray-600 hover:text-gray-500"
        target="_blank"
        rel="noreferrer"
      >
        {{ socialLink.name }}
      </a>
    </div>

    <div class="mt-8 md:mt-0">
      <p class="text-center text-gray-600">
        Made with
        <a
          href="https://angular.io/"
          class="underline hover:text-gray-500"
          target="_blank"
          rel="noreferrer"
        >
          Angular
        </a>
        by
        <a
          href="https://mead.im/"
          class="underline hover:text-gray-500"
          target="_blank"
          rel="noreferrer"
        >
          Mark Mead
        </a>
        👋
      </p>
    </div>
  </div>
</footer>
