<div
  class="p-8 bg-blue-50 lg:flex lg:items-center lg:justify-between rounded-2xl"
>
  <div>
    <h2 class="text-xl font-bold text-gray-900">
      Want this on your Shopify site?
    </h2>

    <p class="max-w-md mt-2 text-sm leading-loose text-gray-500">
      Click the "Copy to Clipboard" button and paste the HTML code into the
      <code>sections/product.liquid</code>
      template on Shopify.
    </p>
  </div>
  <div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
    <button
      class="px-5 py-3 text-sm font-medium text-white bg-blue-600 rounded-md hover:bg-blue-500"
      (click)="copyHTMLToClipboard(clipboardHtml)"
    >
      Copy to Clipboard
    </button>
    <textarea class="sr-only" readonly #clipboardHtml>{{ inputHTML }}</textarea>
  </div>
</div>
