<div class="space-y-8">
  <div>
    <label class="block font-medium text-gray-700" for="rows"> Rows </label>

    <p class="mt-1 text-sm text-gray-500" id="rows-description">
      Set how tall you want the textarea to appear
    </p>

    <select
      class="block w-full h-16 px-4 mt-2 border-gray-200 rounded-2xl focus:ring-blue-500 sm:text-sm"
      id="rows"
      aria-describedby="rows-description"
      [(ngModel)]="rowSize"
      (ngModelChange)="getElementHTML()"
    >
      <option *ngFor="let rowSize of rowSizes">
        {{ rowSize }}
      </option>
    </select>
  </div>

  <div>
    <div class="hidden">
      <div #htmlToCopy>
        <label [for]="formName">{{ formName | titlecase }}</label>
        <textarea
          [id]="formName"
          name="properties[{{ formName }}]"
          [rows]="rowSize"
        ></textarea>
      </div>
    </div>

    <app-example-store [elementType]="'textarea'" [rowSize]="rowSize">
    </app-example-store>
  </div>

  <div>
    <app-button-copy-to-clipboard [inputHTML]="elementHTML">
    </app-button-copy-to-clipboard>
  </div>
</div>
