<div class="space-y-6">
  <fieldset>
    <legend class="sr-only">Privacy setting</legend>

    <div class="flex space-x-4">
      <div *ngFor="let _elementType of elementTypes">
        <input
          type="radio"
          name="type"
          class="sr-only"
          [id]="_elementType"
          [value]="_elementType"
          [(ngModel)]="elementType"
          (ngModelChange)="getElementHTML()"
        />
        <label
          class="inline-block px-3 py-2 text-sm font-medium text-indigo-700 rounded-md cursor-pointer bg-indigo-50"
          [for]="_elementType"
        >
          {{ _elementType | titlecase }}
        </label>
      </div>
    </div>
  </fieldset>

  <div>
    <label class="block text-sm font-medium text-gray-700" for="name">
      Name
    </label>

    <p class="mt-1 text-sm text-gray-500" id="name-description">
      The name here is what appears in the checkout, orders and confirmation
      emails
    </p>

    <input
      class="block w-full mt-2 border-gray-300 rounded-md focus:ring-indigo-500 sm:text-sm"
      type="text"
      aria-describedby="name-description"
      [(ngModel)]="propertyName"
      (ngModelChange)="getElementHTML()"
    />
  </div>

  <div>
    <p class="text-lg font-medium text-gray-700">How it appears</p>

    <div class="mt-2">
      <input
        [type]="elementType"
        name="properties[{{ propertyName }}]"
        #inputField
      />
    </div>
  </div>

  <div>
    <app-button-copy-to-clipboard [inputHTML]="elementHTML">
    </app-button-copy-to-clipboard>
  </div>
</div>
