<div class="space-y-8">
  <fieldset>
    <legend class="block text-sm font-medium text-gray-700">Type</legend>

    <p class="mt-1 text-sm text-gray-500">
      Select which type of input you want on your Shopify store
    </p>

    <div class="flex mt-2 space-x-4">
      <div *ngFor="let _elementType of elementTypes">
        <input
          type="radio"
          name="type"
          class="sr-only"
          [id]="_elementType"
          [value]="_elementType"
          [(ngModel)]="elementType"
          (ngModelChange)="elementTypeChange()"
        />
        <label
          class="inline-block px-5 py-3 text-sm font-medium cursor-pointer rounded-xl"
          [ngClass]="inputLabelClass(_elementType)"
          [for]="_elementType"
        >
          {{ _elementType | titlecase }}
        </label>
      </div>
    </div>
  </fieldset>

  <div>
    <div class="hidden">
      <input
        [type]="elementType"
        name="properties[{{ formName }}]"
        #inputField
      />
    </div>

    <app-example-store [elementType]="elementType"></app-example-store>
  </div>

  <div>
    <app-button-copy-to-clipboard [inputHTML]="elementHTML">
    </app-button-copy-to-clipboard>
  </div>
</div>
