<div class="space-y-8">
  <fieldset *ngIf="inputTypes">
    <legend class="block font-medium text-gray-700">Type</legend>

    <p class="mt-1 text-sm text-gray-500">
      Select which type of input you want on your Shopify store
    </p>

    <div class="flex mt-2 space-x-2">
      <div *ngFor="let inputType of inputTypes; first as first">
        <input
          type="radio"
          name="type"
          class="sr-only"
          [id]="inputType"
          [value]="inputType"
          [checked]="first"
          [(ngModel)]="elementType"
        />
        <label
          class="inline-block px-5 py-2.5 text-sm font-medium cursor-pointer rounded-lg"
          [ngClass]="inputLabelClass(inputType)"
          [for]="inputType"
        >
          {{ inputType | titlecase }}
        </label>
      </div>
    </div>
  </fieldset>

  <div>
    <div class="hidden">
      <div #htmlToCopy>
        <label [for]="formName">{{ formName | titlecase }}</label>
        <input
          [id]="formName"
          [type]="elementType"
          name="properties[{{ formName }}]"
        />
      </div>
    </div>

    <app-example-store [elementType]="elementType"></app-example-store>
  </div>

  <div>
    <app-button-copy-to-clipboard [inputHTML]="elementHTML">
    </app-button-copy-to-clipboard>
  </div>
</div>
