<div class="space-y-8 lg:sticky lg:top-8">
  <div>
    <label class="block font-medium text-gray-700" for="name">
      Custom input name
    </label>

    <p class="mt-1 text-sm text-gray-500" id="name-description">
      Will appear in the Shopify admin and to the customers
    </p>

    <div class="relative mt-2">
      <input
        class="block w-full h-16 pl-4 pr-16 border-gray-200 rounded-2xl focus:ring-blue-500 sm:text-sm"
        type="text"
        placeholder="Set the form field name"
        id="name"
        aria-describedby="name-description"
        #formNameField
        (input)="setFormName(formNameField.value)"
        name="name"
        [(ngModel)]="model.name"
        #name="ngModel"
        required
        [ngClass]="{
          'border-red-500': name.invalid && (name.dirty || name.touched)
        }"
      />

      <span class="absolute transform -translate-y-1/2 right-4 top-1/2">
        <button
          class="inline-flex items-center justify-center w-10 h-10 text-sm text-white bg-blue-600 rounded-full shadow-lg hover:bg-blue-500"
        >
          <svg
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </span>
    </div>

    <app-form-error
      *ngIf="name.invalid && (name.dirty || name.touched)"
      [hasError]="name.errors?.required"
      [errorMessage]="'Name is required'"
    >
    </app-form-error>
  </div>

  <fieldset *ngIf="formFields">
    <legend class="sr-only">Select form input</legend>

    <div class="-space-y-px">
      <div *ngFor="let formField of formFields; first as first; last as last">
        <label
          class="relative flex p-4 border cursor-pointer"
          for="{{ formField.name }}-field"
          [ngClass]="inputWrapperClass(formField.name, first, last)"
        >
          <div class="flex items-center h-6">
            <input
              class="w-4 h-4 text-blue-600 border-gray-300 cursor-pointer focus:ring-blue-500"
              type="radio"
              name="formFieldType"
              id="{{ formField.name }}-field"
              [value]="formField.name"
              [checked]="first"
              (input)="setFormField($any($event))"
            />
          </div>
          <dl class="ml-3 text-sm cursor-pointer">
            <dt class="font-medium text-gray-900">
              {{ formField.name | titlecase }}
            </dt>
            <dd class="text-gray-500">
              {{ formField.description }}
            </dd>
          </dl>
        </label>
      </div>
    </div>
  </fieldset>

  <p class="text-sm text-gray-600">
    Want to know more about custom inputs?
    <a
      href="https://shopify.dev/docs/themes/liquid/reference/objects/line_item"
      target="_blank"
      rel="noreferrer"
      class="block underline"
    >
      Find out more on Shopify
    </a>
  </p>
</div>
