<div>
  <app-page-header></app-page-header>

  <main>
    <div class="container">
      <div
        class="relative z-10 p-8 -mt-8 bg-white shadow-lg sm:-mt-16 rounded-3xl lg:-mt-40"
      >
        <div
          class="space-y-8 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0"
          role="grid"
        >
          <div role="gridcell">
            <app-select-form-field
              [(formField)]="formField"
              [(formName)]="formName"
            >
            </app-select-form-field>
          </div>

          <div class="lg:col-span-2" role="gridcell">
            <app-field-input
              [formName]="formName"
              *ngIf="formField === 'input'"
            >
            </app-field-input>

            <app-field-textarea
              [formName]="formName"
              *ngIf="formField === 'textarea'"
            >
            </app-field-textarea>

            <app-field-select
              [formName]="formName"
              *ngIf="formField === 'select'"
            >
            </app-field-select>
          </div>
        </div>
      </div>
    </div>
  </main>

  <app-footer></app-footer>
</div>
