<header class="relative overflow-hidden bg-gray-900" role="banner">
  <ul class="background" role="presentation">
    <li *ngFor="let squareIcon of squareIcons"></li>
  </ul>

  <div class="container relative z-10 px-4 py-16 sm:py-24 lg:pb-48">
    <div class="max-w-xl">
      <h1 class="text-4xl font-extrabold text-white sm:text-5xl lg:text-6xl">
        Custom shopify inputs to
        <span class="text-blue-600">enhance your store</span>
      </h1>

      <p class="mt-4 text-xl text-gray-300">
        Give your customers a personalised experience with custom Shopify inputs
        allowing for product customisation.
      </p>
    </div>
  </div>
</header>
